<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
		<div class ="card-header">Error de acceso Denegado</div>
		<div class ="card-body">
		
		<!--  <h5>Lo sentimos <span th:text = "${#httpServletRequest.remoteUser}"> </span> , no tienes permiso para acceder a esta pagina</h5> -->
		 <h5>Lo sentimos <span th:text = "${#authentication.name}"> </span> , no tienes permiso para acceder a esta pagina</h5>
		<a th:href="@{/listar}" class="btn btn-outline-light" role="button">Ir al inicio</a>
		</div>
		<div></div>
		</div>

	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>